.footerParentDiv {
  padding-top: 1rem;
  width: 100vw;
  max-width: 100vw;
  
  background-color: rgba(23, 150, 20, 0.31);
  margin-top: 100px;
  overflow-x: hidden;
}
.f-text{
  color: white;
  /* About Support Terms Privacy CopyRight */

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 25px;

color: #FFFFFF;


}
.f-seperator{
  margin-left: 5vw;
  width: 90vw;
  height: 2px;
  background-color: black;
  
}
.f-sub{
  color: white;
  text-align: center;
  /* © 2021 Mr.Green */
width: 100vw;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 42px;
padding: 10px;
color: #FFFFFF;


}